.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/hourglass.svg) center no-repeat rgba(255,255,255,.6);
    display: none;
}