body {
    background-color: #EEEEEE;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/hourglass.svg) center no-repeat rgba(255,255,255,.6);
    display: none;
}

fieldset {
    display: inline-block;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);    
}

#output {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.imgUrl {
    float: center;
    height: 200px;
    padding: 5px;
}

.imgUrl:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* for mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .imgUrl {
        float: center;
        height: 120px;
        padding: 5px;
    }
}